#header{
    background-color: rgb(65, 68, 255);
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
}

body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.block{
    display: block;
     color: white;
    background-color: rgb(62, 65, 250);
    padding: 50;
    margin: 20;
    border-radius: 10px;
}
.blu{
    justify-content: center;
    background-color: rgb(164, 173, 255);
    padding: 50;
    margin: 0px;
}

.cor{
    color: white;
    background-color:rgb(62, 65, 250);
    border-radius: 10px;
    padding: 10px;
}

.inline{
    display: inline;
    color: white;
    background-color: rgb(62, 65, 250);
    padding: 50;
    margin: 20;
    border-radius: 10px
}

.inline-block{
    display: inline-block;
    color: white;
    background-color: rgb(62, 65, 250);
    padding: 50;
    margin: 20;
    border-radius: 10px
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    background-color: rgb(62, 65, 250);
    padding: 50;
    margin: 20;
    border-radius: 10px
}

.inline-flex{
    display: inline-flex;
    color: white;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.grid{
    display: grid;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.inline-grid{
    display: inline-grid;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.flowroot{
    display: flow-root;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.table{
    display: table;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.blockflow{
    display: block flow;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.blockflex{
    display: block flex;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.blockgrid{
    display: block grid;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.blockflowroot{
    display: block flow-root;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}


.inlineflow{
    display: inline flow;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.inlineflex{
    display: inline flex;
    background-color: rgb(219, 0, 0);
    padding: 50;
    margin: 20;
}

.inlinegrid{
    display: inline grid;
    background-color: aqua;
    padding: 50;
    margin: 20;
}

.inlineflowroot{
    display: inline flow-root;
    background-color: aqua;
    padding: 50;
    margin: 20;
}