#header{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
}

body{
    margin: 0px;
}

.blu{
    justify-content: center;
    background-color: crimson;
    padding: 50;
    margin: 20;
}


.block{
    display: block;
     color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.cor{
     color: white;
    background-color: black;
}

.inline{
    display: inline;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.inline-block{
    display: inline-block;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.flex{
    display: flex;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.inline-flex{
    display: inline-flex;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.grid{
    display: grid;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.inline-grid{
    display: inline-grid;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.flowroot{
    display: flow-root;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.table{
    display: table;
   color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.blockflow{
    display: block flow;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.blockflex{
    display: block flex;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.blockgrid{
    display: block grid;
   color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}

.blockflowroot{
    display: block flow-root;
    color: white;
    background-color: black;
    padding: 50;
    margin: 20;
}


.inlineflow{
    display: inline flow;
    background-color: aqua;
    padding: 50;
    margin: 20;
}

.inlineflex{
    display: inline flex;
    background-color: aqua;
    padding: 50;
    margin: 20;
}

.inlinegrid{
    display: inline grid;
    background-color: aqua;
    padding: 50;
    margin: 20;
}

.inlineflowroot{
    display: inline flow-root;
    background-color: aqua;
    padding: 50;
    margin: 20;
}